In [11]:
import pandas as pd
import numpy as np

In [12]:
iris = pd.read_csv("D:\\Programing World\\ml exeriments\\Datasets\\test.csv")
iris.head(7)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,33,5.2,4.1,1.5,0.1,Iris-setosa
1,146,6.7,3.0,5.2,2.3,Iris-virginica
2,109,6.7,2.5,5.8,1.8,Iris-virginica
3,17,5.4,3.9,1.3,0.4,Iris-setosa
4,147,6.3,2.5,5.0,1.9,Iris-virginica
5,86,6.0,3.4,4.5,1.6,Iris-versicolor
6,77,6.8,2.8,4.8,1.4,Iris-versicolor

In [13]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   23.000000      23.000000     23.000000      23.000000     23.000000
mean    78.086957       6.126087      3.139130       3.991304      1.313043
std     43.084392       0.696235      0.546675       1.694084      0.738736
min     10.000000       4.900000      2.200000       1.300000      0.100000
25%     47.000000       5.600000      2.800000       2.550000      0.750000
50%     77.000000       6.200000      3.100000       4.500000      1.500000
75%    107.000000       6.700000      3.450000       5.100000      1.850000
max    147.000000       7.900000      4.400000       6.400000      2.300000

In [14]:
print("/n Dataset Information")
print(iris.info())

/n Dataset Information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             23 non-null     int64
 1   SepalLengthCm  23 non-null     float64
 2   SepalWidthCm   23 non-null     float64
 3   PetalLengthCm  23 non-null     float64
 4   PetalWidthCm   23 non-null     float64
 5   Species        23 non-null     object
dtypes: float64(4), int64(1), object(1)
memory usage: 1.2+ KB
None

In [15]:
print("/n Summary Statistics for iris dataset:")
print(iris.describe())

/n Summary Statistics for iris dataset:
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   23.000000      23.000000     23.000000      23.000000     23.000000
mean    78.086957       6.126087      3.139130       3.991304      1.313043
std     43.084392       0.696235      0.546675       1.694084      0.738736
min     10.000000       4.900000      2.200000       1.300000      0.100000
25%     47.000000       5.600000      2.800000       2.550000      0.750000
50%     77.000000       6.200000      3.100000       4.500000      1.500000
75%    107.000000       6.700000      3.450000       5.100000      1.850000
max    147.000000       7.900000      4.400000       6.400000      2.300000